@import "utilities.css";

:root{
    --primary: #3DCFD3;
    --dark: #161616;
    --pure: #FFFFFF;
    --ternary: #898989;
    --light: #F2F2F2;
}

body{
    font-family: 'Comfortaa', sans-serif;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

header{
    background-color: var(--dark);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 70% 87%, 0 100%);
}

.container{
    max-width: 1152px;
    padding: 0 15px;
    margin: 0 auto;
}

header nav  a{
    color:var(--pure);
    text-decoration: none;
    margin-right: 2rem;
    text-transform: uppercase;
    transition: all .3s ease;
    font-weight: 700;
}

header nav  a:hover{
    color: var(--primary);
}

header nav{
    padding: 1.5rem 0;
}

.hero{
    padding: 3rem 0;
    
}

.hero .left img{
    width: 350px;
}

.hero .right{
    color: var(--pure);
}

.hero .right h6{
    font-size: 1.6rem;
    color: var(--primary);
    margin-bottom: 0.5rem;
}

.hero .right h1{
    font-size: 3rem;
    font-weight: 100;
    line-height: 1.2;
    margin-bottom: 2rem;
}

.hero .right h1 span{
    color: var(--primary);
}

.hero .right p{
    line-height: 1.5;
    margin-bottom: 2rem;
}


.hero .right{
    margin-top: -7rem;
}

.about{
    max-width: 1152px;
    margin: 3rem auto;
    border: 3px solid var(--primary);
    line-height: 2;
    height: auto;
    transition: all .9s ease;
}

.about .left img{
    width: 350px;
    border-right: 3px solid var(--primary);

}

.about:hover{
    box-shadow: 6px 6px 20px grey;
}   


.about h1 span{
    color: var(--primary);
}

.about p{
    line-height: 1.5;
    margin-bottom: 2rem;
    font-weight: 500;
}

.skills{
    padding: 7rem 0;
    background: var(--ternary);
    clip-path: polygon(0 0, 100% 10%, 100% 70%, 0 100%);
}

.skills .skills-heading{
    color: var(--pure);
    margin-bottom: 3rem;
    
}
.skills .skills-heading span{
    color: var(--primary);
}

.skills img{
    height: 2.5rem;
}


.skills ul li{
    text-transform: uppercase;
    color: var(--pure);
    display: flex;
    align-items: center;
    margin-right: 2rem;
    transition: all .3s ease;
    margin-bottom: 2rem;
    font-weight: 700;
}

.skills ul li:hover{
    color: var(--primary);
}

.footer{
    margin-top: 5rem;
    padding: 7rem 0 2rem 0;
    background: var(--primary);
    color: var(--dark);
    clip-path: polygon(0 50%, 50% 0, 100% 50%, 100% 100%, 0 100%);
    text-align: center;
    font-weight: 600;
}


.footer .socials i{
    margin-top: 10px;
    font-size: 25px;
    margin-right: 0.5rem;
    transition: all .4s ease;
}

.footer .socials i:hover{
    font-size: 30px;
    cursor: pointer;
}